snippet (r "github reconquest link" i
(https://github.com/reconquest/$1
endsnippet

priority -10
snippet l "link" w
[${1:${VISUAL}}](${2:https://})
endsnippet

priority -10
snippet i "image" w
![$1](${2:https://})
endsnippet


snippet "\\?cite" "\cite" rw
\cite${1:[$2]}{$3}$0
endsnippet

snippet "\\?textc(ite)?" "\textcite" r
\textcite${1:[$2]}{$3}$0
endsnippet


snippet h "" w
<a href="${1:${VISUAL}}" target="_blank">${1:${VISUAL}}</a>
endsnippet
