# global import px
snippet gi "" w
global !p
import px
for full_name, name in px.libs().items():
    exec "import " + full_name
    exec "import " + full_name + " as " + name
endglobal

$0
endsnippet
