snippet tests:a "tests:assert-" bA
tests:assert-$0
endsnippet

snippet tests:assert-q "tests:assert-equals" A
tests:assert-equals $0
endsnippet

snippet tests:assert-o "tests:assert-stdout" A
tests:assert-stdout $0
endsnippet

snippet tests:assert-e "tests:assert-stderr" A
tests:assert-stderr $0
endsnippet

snippet tests:assert-d "tests:assert-no-diff" A
tests:assert-no-diff ${1:stdout} <<EXPECTED
$0
EXPECTED
endsnippet

snippet tests:n "tests:not" b
tests:not $0
endsnippet

snippet "tests:not e" "tests:ensure" A
tests:not tests:ensure $0
endsnippet

snippet "tests:e" "tests:ensure" A
tests:ensure $0
endsnippet

priority 100

snippet t "tests:" bA
tests:$0
endsnippet
