extends sh
global !p
from snippets.zsh import *

import px
for full_name, name in px.libs().items():
    exec "import " + full_name
    exec "import " + full_name + " as " + name
endglobal

context "is_zgen_section()"
snippet zg "" weA
zgen load $1
endsnippet

context "is_zgen_section()"
snippet "^.*https?://github.com/([^ ]+).*" "" werA
`!p
snip.rv = " " * px.whitespaces.get_indentation(\
	px.buffer.get_prev_nonempty_line()\
)[0]

`zgen load `!p snip.rv=match.group(1)`
endsnippet
